body {
  padding: 1%;
  background: linear-gradient(110deg, #032227 60%, #092b06 60%);
}

#display-movies {
  border-bottom: 1px solid;
}

.popup {
  display: flex;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  margin-top: 1%;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
}

.movie-item {
  display: grid;
}

.custom-nav {
  justify-content: end;
}

.nav-item {
  margin-right: 30px;
}

.nav-item:hover {
  background-color: aqua;
}

#home-page {
  margin-bottom: 30px;
}

#row {
  margin-left: 160px;
}

.row .home-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  margin-top: 60px;
  margin-right: 30px;
  background-color: black;
}

.home-col:hover {
  height: 110%;
  border: solid 1px gray;
  margin-top: 50px;
}

.names {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  color: #fff;
}

.icon {
  color: #fff;
}

.comment {
  width: fit-content;
}



/* footer */
.footer {
  text-align: center;
  color: #fff;
  background-color: #3d3d3d;
  padding: 40px 0;
}

.linkstyle {
  text-decoration: none;
  color: #fff;
}

.linkstyle:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
}

/* popup style */
.popupModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.popupContent {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow-y: scroll;
  margin: 5% 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}

.scroll {
  overflow-y: scroll;
  height: 100px;
}
