body {
  padding: 1%;
  background: linear-gradient(110deg, #032227 60%, #092b06 60%);
}

#display-movies {
  border-bottom: 1px solid;
}

.popup {
  display: flex;
  background-color: grey;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
}

.popup-content {
  display: flex;
  width: 60%;
  justify-content: space-around;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}

.movie-item {
  display: grid;
}

.comment-section ul {
  list-style: none;
}

.comment-section h5 {
  text-align: center;
}

.custom-nav {
  justify-content: end;
}

.nav-item {
  margin-right: 30px;
}

.nav-item:hover {
  background-color: rgb(56, 56, 56);
}

#home-page {
  margin-bottom: 30px;
}

#row {
  margin-left: 160px;
}

.row .home-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-right: 30px;
  background-color: black;
}

.home-col:hover {
  border: solid 1px gray;
  margin-top: 50px;
}

.names {
  display: flex;
  justify-content: center;
  color: #fff;
}

.icon {
  color: #fff;
}

.icon-btn {
  background-color: inherit;
}

.comment {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin-top: 10px;
  border: none;
  background-color: inherit;
}

.comment p {
  color: #fff;
}

.comment:hover {
  color: #fff;
  background-color: rgba(128, 128, 128, 0.271);
}

.reservation {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  border: none;
  background-color: inherit;
}

.reservation p {
  color: #fff;
}

.reservation:hover {
  color: #fff;
  background-color: rgba(128, 128, 128, 0.271);
}




/* footer */
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  background-color: #3d3d3d;
  padding: 40px 0;
}

.linkstyle {
  text-decoration: none;
  color: #fff;
}

.linkstyle:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
}

/* popup style */
.popupModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.popupContent {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow-y: scroll;
  margin: 5% 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}

.scroll {
  overflow-y: scroll;
  height: 100px;
}
