body {
  padding: 1%;
}

#display-movies {
  border-bottom: 1px solid;
}

.popup {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  margin-top: 1%;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
}

.movie-item {
  display: grid;
}

.custom-nav {
  justify-content: end;
}

.nav-item {
  margin-right: 30px;
}

.nav-item:hover {
  background-color: aqua;
}

.home-col {
  height: 300px; 
  margin-right: 50px;
  margin-left: 20px;
}
